body {
    margin: 0;
}

header {
    padding: 10px 20px;
    background-color: #6666FF;
    color:white;
    display: flex;
    height: 70px;
}

h1 {
    margin: 0;
}

p {
    margin: 0px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
    flex: 1;
}

section {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px 15px;
    text-align: left;
    margin: 10px;
}

section h2 {
    margin: 0px;
}

section p {
    margin: 0px;
    padding-left: 10px;
}

p.en {
    font-size: 0.95em;
    font-style: italic;
}

section p.jp {
    font-size: 0.95em;
}

input {
    margin: 10px 0px;
    width: 80%;
    max-width: 400px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 7.5px;
    height: 40px;
    border: 0px;
    padding: 0px 15px;

}

.random_slang {
    text-align: left;
}

.random_slang h1 {
    margin-left: 20px;
    margin-top: 30px;
}

.h2-tags {
    display: flex;
    align-items: flex-end;
}

.h2-tags h2 {
    margin-right: 20px;
}

.tag {
    background-color: #DDDDFF;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 4px;
    cursor: pointer;
    display: block;
}

.tag p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.howto {
    display: flex;
    justify-content: center;
}

.howto p {
    color: white;
    background-color: #6666FF;
    border-radius: 5px;
    margin: 5px 10px;
    padding: 5px 10px;
}

footer {
    background-color: #6666FF;
    color: white;
    margin: 0px;
    padding: 10px 20px;
}

.terms {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.h2-usage {
    margin-top: 20px;
}
.usage {
    margin: 10px 0px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.usage span.en {
    font-style: italic;
    color: #555;
}
.usage span.ja {
    font-weight: bold;
}
.usage p {
    margin: 0;
    padding: 0;
}

.related-terms {
    display: flex;
}
.tag:hover {
    background-color: #CCCCFF;
}

.h2-term {
    font-size: 35px;
}

span.en {
    font-style: italic;
}

span.inline {
    text-decoration: underline #6666FF;
}
.term-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    flex: 1;
    transition: transform 0.2s ease;
    box-shadow: 0px 0px 1px rgba(0,0,0,1);
}
.term-card:hover {
    transform: translateY(-5px);
}
.term-card h3 {
    margin: 0;
    font-size: 24px;
}
.term-card p {
    margin: 5px 0;
}
.term-card p.jp {
    font-size: 0.95em;
}
.term-card p.en {
    font-size: 0.95em;
    font-style: italic;
}
.term-card .terms {
    display: flex;
    margin-bottom: 10px;
}
h2 .en {
    margin-left: 10px;
    font-size: 20px;
    color: #555;
    font-style:normal
}
button {
    background-color: #6666FF;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

section p.en {
    padding-left: 0px;
}

.terms p.jp {
    padding-right: 10px;
}

.terms p {
    margin: 0;
}

header a {
    display: block;
}

header input {
    margin-left: auto;
    margin-right: 5px;
    width: 30%;
    max-width: 400px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}

.tags-section .tags {
    margin-top: 10px;
}

@media (max-width:700px) {
    header input {
        display: none;
    }
}